*{
   background-color: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
.title{
    
    font-size: 28px; 
    font-weight: bold;
    padding: 20px 0;
}
.emoji{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    border-radius: 100px;
    margin: 20px 6px;
    cursor: pointer;
}
 img{
    height: 50px;
    width: 50px;
}
.result,.score{
    font-size: 15px;
    font-weight: bold;
}
.move{
    height: 50px;
    width: 50px;
}
#reset,#auto{
    color: black;
    background-color: white;
    padding: 8px 14px;
    font-size: 15px;
    margin-top: 12px;
    cursor: pointer;
}